<div class="content-wrapper" style="margin-top:0%;">
  <div class="reg-main">
    <%= form_for @application, html: {multipart: true, class: 'application-form' ,id: 'application-creation'}, remote: true do |f| %>
      <%- unless f.object.errors.empty? %>
        <div class='ui-state-highlight'>
        <%-f.object.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
        </div>
      <% end %>
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
      <table class="tbl-2" width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <th colspan="4">Application Information</th>
        </tr>
        <tr>
          <td width="12%" align="right">Application Name<span class='required'>*</span></td>
          <td width="18%"><%= f.text_field :name , class: "form-style1", placeholder: "Enter Here" , required: true,minlength: 3%></td>
          <td width="16%" align="right">Point of Contact</td>
          <td width="57%"><%= f.text_field :point_of_contact , class: "form-style1", placeholder: "Enter Here" %></td>
        </tr>
        <tr>
          <td align="right">Email<span class='required'>*</span> </td>
          <td><%= f.text_field :email , class: "form-style1", placeholder: "Enter Here", required: true, email: true %></td>
          <td align="right">Preferred Time </td>
          <td><%= f.time_select :prefered_contact_time ,ampm: true %></td>
        </tr>
         <tr>
          <td align="right">Technologies Used</td>
          <td><%= f.text_field :technology , class: "form-style1", id: "url_field", placeholder: "Enter Here"%></td>
          <td align="right">Database </td>
          <td><%= f.text_field :database , class: "form-style1", placeholder: "Enter Here" %></td>
        </tr>
        <tr>
          <td align="right">Description </td>
          <td rowspan="2" valign="top"><%= f.text_area :description, class: "form-style2", placeholder: "Enter Here" %></td>
          <td align="right">Application Type<span class='required'>*</span></td>
          <td><%= f.collection_select(:application_type_id, ApplicationType.all, :id, :name,required: true)%></td>
        </tr>
        <tr></tr>
        <tr class= "cordys"style="display:none;">
          <th colspan="4">Cordys Bpm Details</th>
        </tr>
        <tr>
          <%= render :partial => 'application_types', :locals => {application: @application} %>
        </tr>
        <tr class= "pega"style="display:none;">
          <th colspan="4">Pega Bpm Details</th>
        </tr>
        <tr class= "oracle"style="display:none;">
          <th colspan="4">Oracle Bpm Details</th>
        </tr>
        <tr>
          <th colspan="4">Test Types</th>
        </tr>
        <tr>
          <%= render :partial => 'testing_types', :locals => {application: @application} %>
        </tr>
        <tr>
          <th colspan="4">Application Documents/Attachments</th>
        </tr>
        <tr>
          <td colspan="4" align="left" style="border:#dbdbdb solid 1px; border-top:0px; padding-left:0px; padding-right:0px;">
            <div class="uplod-box" style="margin:0px 0% 10px 2%">
              <table width="90%" border="0" align="left" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="34%" align="right" style="padding-top:0px;">Upload Application Files</td>
                  <td width="66%" style="padding-top:0px;">
                    <input name="application_file_paths[]" type="file" multiple='multiple' class="form-style3 upload-field" id="application_file_paths"/>
                  </td>
                </tr>
              </table>
              <div class="uplod-list-box">
               <% unless @application.attachments.blank?%>
                 <table>
                   <tr>
                     <% @application.attachments.each do |attachment|%>
                       <td>
                         <a href="<%= attachment.file_path_url%>" download><%= attachment.file_path.file.filename%><span class="remove-file-permanently" id="<%= attachment.id%>" applicationId="<%= @application.id%>"><img src="/assets/close-icon.png" width="14" height="14" alt="delete" /></span></a>
                       </td>
                     <%end%>
                   </tr>
                 </table>
               <%end%>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th colspan="4">Application Roles and Functional Documents</th>
        </tr>
        <tr>
          <td colspan="4" align="left" style="border:#dbdbdb solid 1px; border-top:0px; padding-left:0px; padding-right:0px;">
            <div id='login-section' style="display:block;">
              <div id='role-section'>
                <%= f.fields_for :credentials, @application.credentials.build do |c| %>
                <table width="80%" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td width="14%" align="right">Role</td>
                    <td width="16%"><%= c.text_field :role, class: 'form-style1', :id => 'role' %></td>
                    <td width="7%" align="right">Username</td>
                    <td width="19%"><%= c.text_field :username, class: 'form-style1' %></td>
                    <td width="6%" align="right">Password</td>
                    <td width="38%"><%= c.password_field :password, class: 'form-style1' %></td>
                  </tr>
                </table>
                <div class="uplod-box">
                  <table width="90%" border="0" align="left" cellpadding="0" cellspacing="0">
                    <tr>
                      <td width="34%" align="right" style="padding-top:0px;">Upload File</td>
                      <td width="66%" style="padding-top:0px;">
                        <%= c.file_field :file_paths, multiple: true, class: "form-style3 upload-field"%>
                      </td>
                    </tr>
                  </table>
                </div>
                <% end %>
              </div>
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td id='add_roles' align="center" style="padding:10px;"><input name="" type="button" class="btn-style-4" value="Add Role &amp; Attachments" />
                  </td>
                </tr>
              </table>
              <%- unless @application.new_record? %>
                <%- @application.credentials.reset %>
                <%= f.fields_for :credentials do |c| %>
                  <div class="uploded-box">
                    <div>
                      <h1>Role : <span><%= c.object.role %></span><span class="remove-role"><img src="assets/close-icon.png" width="14" height="14" alt="delete"></span></h1>
                      <input name="" type="button" class="btn-style-5 show-role" value="">
                    </div>
                    <div class="added-role-section" style="display: block;">
                                  
                      <table width="80%" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                          <tr>
                            <td width="14%" align="right">Role</td>
                            <td width="16%"><%= c.text_field :role, class: 'form-style1' %></td>
                            <td width="7%" align="right">Username</td>
                            <td width="19%"><%= c.text_field :username, class: 'form-style1' %></td>
                            <td width="6%" align="right">Password</td>
                            <td width="38%"><%= c.password_field :password, class: 'form-style1' %></td>
                          </tr>
                        </tbody>
                      </table>
                      <div class="uplod-box">
                        <table width="90%" border="0" align="left" cellpadding="0" cellspacing="0">
                          <tbody>
                            <tr>
                              <td width="34%" align="right" style="padding-top:0px;">Upload File</td>
                              <td width="66%" style="padding-top:0px;">
                                <%= c.file_field :file_paths, multiple: true, class: "form-style3 upload-field"%>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <div class="uplod-list-box">
                          <% unless c.object.attachments.blank?%>
                               <table>
                                 <tr>
                                   <% c.object.attachments.each do |attachment|%>
                                     <td>
                                       <a href="<%= attachment.file_path_url%>" download><%= attachment.file_path.file.filename%></a>
                                       <span class="remove-file-permanently" id="<%= attachment.id%>" applicationId="<%= @application.id%>"><img src="/assets/close-icon.png" width="14" height="14" alt="delete" /></span>
                                     </td>
                                   <%end%>
                                 </tr>
                               </table>
                             <%end%>
                        </div>
                      </div>
                    </div>
                  </div>
                  <%= c.text_field :delete_credential , value: false , type: 'hidden'%>
                <% end %>
              <% end %>
            </div>
          </td>
        </tr>
        <tr>
        </tr>
      </table>
    <%end%>
  </div>
</div>

<script type="text/javascript">

  $(document).on("click", "#add_roles", function () {
    lastNestedForm = $('.uploded-box').last();
    newNestedForm = $('#role-section').clone();
    uploadedBox = $('<div class=\"uploded-box\"></div>');

    var role = $('#role-section').find('input#role')[0].value;
    $(uploadedBox).append("<div><h1>Role : <span>"+ role + "</span><span class=\"remove-role\"><img src=\"assets/close-icon.png\" width=\"14\" height=\"14\" alt=\"delete\" /></span></h1><input name=\"\" type=\"button\" class=\"btn-style-5 show-role\" value=\"\"/><div>")

    newNestedForm.attr('id', '');
    newNestedForm.attr('class', 'added-role-section');
    newNestedForm.attr('style', 'display:none;');


    parentTd = $(this).closest('table').parent();
    formsOnPage = parentTd.children().length - 2;
    newNestedForm.find('input#role').each(function (){
      oldId = $(this).attr('id');
      newId = "application_credentials_attributes_0_role".replace(new RegExp(/_[0-9]+_/), "_" + formsOnPage +"_");
      $(this).attr('id', newId);
    })
     
    //nestedName = 'application[credentials_attributes][0]';
    $('#role-section').find('select, input').each(function(){
      oldId = $(this).attr('id');
      if (oldId == 'role')
        newId = oldId;
      else
        newId = oldId.replace(new RegExp(/_[0-9]+_/), "_" + (formsOnPage + 1) +"_");

      $(this).attr('id', newId);

      oldName = $(this).attr('name');
      newName = oldName.replace(new RegExp(/\[[0-9]+\]/), "[" + (formsOnPage + 1) + "]");
      $(this).attr('name', newName);
    });

    //Removing the input for file upload as it is not editable
    $(newNestedForm).find('.uplod-box').find('table').hide()
    $(uploadedBox).append(newNestedForm);
    $(uploadedBox).appendTo(parentTd);

    $('#role-section').find('input:text').val('');
    $('#role-section').find('input:password').val('');
    $('#role-section').find('input:file')[0].value = '';
    $('#role-section').find('.uplod-list-box').remove();
    bindUpload();
  });

  $(document).on("keyup", "input#url_field",function() {
    if($(this).val() === ''){
      $("#login-section").hide();
    }
    else {
      $("#login-section").show();
    }
  });
 
   $(document).on("click", '.show-role', function(e) {
       $(this).parent('div').parent().find('.added-role-section').toggle();
   });

   $(document).on("click", '.remove-file', function(e) {
       $(this).parent().remove();
   });


   $(document).on("click", '.remove-role', function(e) {
       parentDiv = $(this).closest('div').parent()
       // to delete credential in controller
      deleteCredentialId = parentDiv.find('div.added-role-section').find('input[type=text]')[0].id.replace(new RegExp(/role/), "" + ("delete_credential"));
      deleteCredential = $('#'+deleteCredentialId).val("true")
       input_file_name = parentDiv.find('div.added-role-section').find('input[type=file]')[0].name
       i = 0;
       noOfElements = paramNames.length
       while(i < noOfElements){
        if (paramNames[i] == input_file_name){
          filesList.splice(i,1);
          paramNames.splice(i,1);
          i--;
        }
        i++;
       }
       parentDiv.remove();
   });

    var filesList = [],
        paramNames = [],
        elem = $(".application-form");

    function bindUpload() {
        elem.fileupload({
          dataType: "script",
          autoUpload: false,
          singleFileUploads: false,
          sequentialUploads: false,
          add: function (e, data) {
              var that = this;
              var uploadBox = $("#" +e.currentTarget.id).closest('div')
              var box = uploadBox.find('.uplod-list-box')
              if(box.length == 0)
                box = $('<div class=\"uplod-list-box\"></div>');
              box.appendTo(uploadBox);

              data.context = box;
              data.formData = elem.serializeArray();
              paramName = e.currentTarget.name
              numberOfFiles = filesList.length
              $.each(data.files, function (index, file) {
                var img = '<span class=\"remove-file\"><img src="/assets/close-icon.png" width="14" height="14" alt="delete" /></span>'
                var node = $('<label>'+ file.name + img + '</label>')
                node.appendTo(data.context);
                filesList.push(file);
                paramNames.push(paramName);
                node.find("span").click(function(){
                    node.remove();
                    data.files.splice(index,1);
                    filesList.splice((numberOfFiles + index), 1);
                    paramNames.splice((numberOfFiles + index), 1);
                });
              });
            } 
         });
      }
      bindUpload();
      $(document).on("click",'.remove-file-permanently',function(e) {
        var valueSelector = this.id;
        var applicationId = $(this).attr('applicationId')
        e.preventDefault();
        if(confirm("Are you sure?Selected file will be deleted permanently.")){
          this.parentElement.remove()
          $.ajax('/applications/delete_attachment', {
             type: 'POST',
             datatype: 'json',
             data: {attachment_id: valueSelector, application_id: applicationId},
             success: function(data, textStatus, jqHXR) {
              }
          });
         }
      });
</script>