<div class="content-wrapper">
  <div class="reg-main">
  <%= form_for application ,remote: true do |f| %>
    <table class="tbl-2" width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th colspan="4">Personal Information</th>
      </tr>
      <tr>
        <td width="9%" align="right">Application Name</td>
        <td width="18%"><%= f.text_field :name , class: "form-style1", placeholder: "Enter Here" %></td>
        <td width="16%" align="right">Point of Contact</td>
        <td width="57%"><%= f.text_field :point_of_contact , class: "form-style1", placeholder: "Enter Here" %></td>
      </tr>
      <tr>
        <td align="right">URL</td>
        <td><%= f.text_field :url , class: "form-style1", placeholder: "Enter Here"%></td>
        <td align="right">Email </td>
        <td><%= f.text_field :email , class: "form-style1", placeholder: "Enter Here" %></td>
      </tr>
      <tr>
        <td align="right">Description </td>
        <td rowspan="2" valign="top"><%= f.text_area :description, class: "form-style2", placeholder: "Enter Here" %></td>
        <td align="right">Time </td>
        <td><%= f.time_select :prefered_contact_time ,ampm: true %></td>
      </tr>
      <tr>
        <th colspan="4">Admin Information</th>
      </tr>
      <tr>
        <td colspan="4" align="left" style="border:#dbdbdb solid 1px; border-top:0px; padding-left:0px; padding-right:0px;"><table width="80%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="14%" align="right">Role</td>
              <td width="16%"><input name="textfield7" type="text" class="form-style1" id="textfield6" placeholder="Enter Here" /></td>
              <td width="7%" align="right">Username</td>
              <td width="19%"><input name="textfield7" type="text" class="form-style1" id="textfield6" placeholder="Enter Here" /></td>
              <td width="6%" align="right">Password</td>
              <td width="38%"><input name="textfield7" type="text" class="form-style1" id="textfield6" placeholder="Enter Here" /></td>
            </tr>
          </table>
          <div class="uplod-box">
            <table width="90%" border="0" align="left" cellpadding="0" cellspacing="0">
              <tr>
                <td width="34%" align="right" style="padding-top:0px;">Upload File</td>
                <td width="66%" style="padding-top:0px;"><input name="textfield8" type="file" class="form-style3" id="textfield7" />
                  <input name="button" type="submit" class="btn-style-3" id="load_file" value="Upload" /></td>
              </tr>
            </table>
            <div class="uplod-list-box">
              <h1>Attachemnts</h1>
              <label>Browsefile.WEF<span><img src="/assets/close-icon.png" width="14" height="14" alt="delete" /></span></label>
              <label>file.WEF<span><img src="/assets/close-icon.png" width="14" height="14" alt="delete" /></span></label>
              <label>Other file.WEF<span><img src="/assets/close-icon.png" width="14" height="14" alt="delete" /></span></label>
              <label>Browsefile Browsefile.WEF<span><img src="/assets/close-icon.png" width="14" height="14" alt="delete" /></span></label>
              <label>Browse.WEF<span><img src="/assets/close-icon.png" width="14" height="14" alt="delete" /></span></label>
            </div>
          </div>

          <table id='app_role' width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td align="center" style="padding:10px;"><input name="" type="button" class="btn-style-4" value="Add Role &amp; Attechments" /></td>
              <%= f.fields_for :application_login_details do |ald| %>
                <td width="14%" align="right">Role</td>
                <td width="16%"><input name="textfield7" type="text" class="form-style1" id="textfield6" placeholder="Enter Here" /></td>
                <td width="7%" align="right">Username</td>
                <td width="19%"><input name="textfield7" type="text" class="form-style1" id="textfield6" placeholder="Enter Here" /></td>
                <td width="6%" align="right">Password</td>
                <td width="38%"><input name="textfield7" type="text" class="form-style1" id="textfield6" placeholder="Enter Here" /></td>
              <%end%>
            </tr>
          </table>
          <div class="uploded-box">
            <h1>Role : <span> Name Here </span></h1>
            <input name="" type="button" class="btn-style-5" value="" />
          </div>
          <div class="uploded-box">
            <h1>Role : <span> Name Here </span></h1>
            <input name="" type="button" class="btn-style-5" value="" />
          </div>
          </td>
      </tr>
       <tr>
<td colspan="4"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="40%" align="right"><input name="" type="button" class="btn-style-2" value="Cancel" /></td>
    <td><input name="" type="button" class="btn-style" value="Save Application" /></td>
  </tr>
</table></td>
</tr>
    </table>
    <%end%>
  </div>
</div>