<div class="ura-main">
  <div class="ura-left">
    <div class="ura-left-head">
      <div class="ura-left-head-box1"><input name="" type="checkbox" value="" /></div>
      <div class="ura-left-head-box2">Users</div>
      <div class="ura-left-head-box3">Roles</div>
    </div>
    <div class="ura-left-cnt">
      <table width="648" border="0" cellspacing="0" cellpadding="0" class="ura-left-cnt-tbl">
      



      <%= form_for Role.new,url: role_users_path, html: {multipart: true } do |r|%>
        <%i = 1%>
        <% @users.each do |u|%>
          <tr>
            <td align="center">
              <input name="input" type="checkbox" value="" id="<%= i%>"/>
            </td>
            <td><%#= r.check_box u.email%></td>
          </tr>
          <% u.roles.each do |role|%>
            <%= r.text_field :name,value: role.name %>
          <%end%>
        <%end%>
        <%= r.submit "Update" %>
      <%end%>








      <%i = 1%>
      <% @users.each do |u|%>
        <tr>
          <td align="center">
            <input name="input" type="checkbox" value="" id="<%= u.id%>"/>
          </td>
          <td><%= u.email%></td>
          <%j = 0%>
          <% u.roles.each do |role|%>
            <td class="role" ><label><%= text_field "role_#{j}","id",value: role.name %><span><img src="/assets/close-icon.png" width="14" height="14" alt="delete" /></span></label></td>
            <% j+=1%>
          <%end%>
          <% i+=1%>
        </tr>
      <%end%>
      
      </table>
    </div>
  </div>
  <div class="ura-right ">
    <div class="ura-right-head">
      Roles
    </div>
    <div class="ura-right-cnt">
      
      <table>
      <% @roles.each do |role|%>
      <tr><td><label><span><input name="" type="checkbox" value="" id="<%=role.id%>" /></span><%= role.name%></label></td></tr>
      <%end%>
      <tr>
      <td><button type="button" onclick="assign_roles()">Assign</button></td>
      </tr>
      </table>
      
    </div>
  </div>
</div>
<script>
  function assign_roles(){
    alert("Hi")
    var n = $( "input:checked" ).length;
    alert(n)
  }
</script>