<div class="ura-main">
  <div class="ura-left">
    <div class="ura-left-head">
      <div class="ura-left-head-box1"><%= check_box_tag "all_users", 'all_users' %></div>
      <div class="ura-left-head-box2">Users</div>
      <div class="ura-left-head-box3">Roles</div>
    </div>
    <div class="ura-left-cnt">
      <table width="648" border="0" cellspacing="0" cellpadding="0" class="ura-left-cnt-tbl">
        <% @users.each do |u|%>
          <tr>
            <td align="center">
              <input name="user" type="checkbox" id="<%= u.id%>" class="users" value="<%= u.id%>"/>
            </td>
            <td><%= u.email %></td>
            <% u.roles.each do |role|%>
              <td class="role">
                <label><%= role.name %>
                <%= link_to image_tag("close-icon.png", width: 14, height: 14, alt: "delete"), { action: 'delete_role_user',controller: 'applications'}, :confirm => 'Are you sure?', :method => :delete %>
                <!-- <span class="remove-role" value=[<%= role.id%>,<%= role.id%>]><img src="/assets/close-icon.png" width="14" height="14" alt="delete" /></span></label> -->
              </td>
            <%end%>
            <td><%= hidden_field 'application','id',value: @application.id %></td>
          </tr>
        <%end%>
      </table>
    </div>
  </div>
  <div class="ura-right ura-right-disable" id="role_cnt">
    <div class="ura-right-head">
      <%= check_box_tag "all_roles", 'all_roles' %>Roles
    </div>
    <div class="ura-right-cnt">
      <table>
        <% @roles.each do |role|%>
          <tr>
            <td>
              <label>
                <span>
                <input name="role" type="checkbox" id="<%= role.id%>" class="roles" value="<%= role.id%>"/>
                  <%#= check_box_tag "roles", role.id %>
                </span>
                <%= role.name%>
              </label>
            </td>
          </tr>
        <%end%>
        <tr>
          <td>
            <button type="button" disabled="disabled" onclick="assign_roles()" id="submit">Assign</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<script>
var applicationId = $("#application_id").val()
  function assign_roles(){
    var valueSelector = function() { return this.value; };
    var userChecked = $("input:checkbox[name=user]:checked").map(valueSelector).get();
    var roleChecked = $("input:checkbox[name=role]:checked").map(valueSelector).get();
    $.ajax('/applications/' + applicationId + '/assign_role_user', {
      type: 'POST',
      data: {users: userChecked,roles: roleChecked},
      datatype: 'json',
      success: function(data, textStatus, jqHXR) {
        alert("Success")
      }
    });
  }

  $("#all_users").on('click',function(){
    if(this.checked) {
      $('.users').each(function() {
        this.checked = true;
      });
      enableRole()
    }
    else {
      $('.users').each(function() {
        this.checked = false;
      });
      disableRole()
    }
    enableAssignButton()
  })

  $("#all_roles").on('click',function(){
    if(this.checked) {
      $('.roles').each(function() {
        this.checked = true;
      });
    }
    else {
      $('.roles').each(function() {
        this.checked = false;
      });
    }
    assignButtonAction();
  })

  // added for roles enable/disable
  $(document).on("click", '.users', function(e) {
    var valueSelector = function() { return this.value; };
    var userChecked = $("input:checkbox[name=user]:checked").map(valueSelector).get();
    if(userChecked.length <= 0){
      disableRole()
    }
    else{
      enableRole()
    }
    assignButtonAction();
  })

  function enableRole(){
    $("#role_cnt").removeClass("ura-right-disable")
  }

  function disableRole(){
    $("#role_cnt").addClass("ura-right-disable")
    assignButtonAction() //after all users are disabled then submit also disabled
  }

  $(document).on("click", '.roles', function(e) {
    assignButtonAction()
  })

  function assignButtonAction(){
    var valueSelector = function() { return this.value; };
    var roleChecked = $("input:checkbox[name=role]:checked").map(valueSelector).get();
    var userChecked = $("input:checkbox[name=user]:checked").map(valueSelector).get();
    if(roleChecked.length > 0 && userChecked.length > 0){
      $("#submit").attr('disabled',false);
    }
    else{
      $("#submit").attr('disabled',true);
    }
  }

  $(document).on("click", '.remove-role', function(e) {
    alert($(this))
    if(confirm("Are you sure?")){
      $.ajax('/applications/' + 'delete_role_user/' + applicationId, {
        type: 'DELETE',
        datatype: 'json',
        success: function(data, textStatus, jqHXR) {
          alert("Delete Success")
        }
      });
    }
  });

</script>
