<div class="content-wrapper"> 
  <div class="cnt-head">
    <h1>Applications</h1>
    <button id="new-application">New Application</button>
    <div id="dialog-form">
      <%= render partial: 'form' ,locals: {application: Application.new}%>
    </div>
    <label><span><a href="/applications/new" ><img src="/assets/plus-icon.png" width="16" height="16" alt="plus" /></span>Add Application</a></label>
    <%= link_to "aaaaaaa",new_application_path%>
  </div>
  <table class="tbl-1" id="alternatecolor" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <th align="left" valign="middle">Sl No.</th>
      <th align="left" valign="middle">Name</th>
      <th align="left" valign="middle">URL</th>
      <th align="left" valign="middle">Creator</th>
    </tr>
    <% count = 0 %>
    <% @applications.each do |application| %>
      <tr>
        <td><%= count += 1 %></td>
        <td><%= application.name %></td>
        <td><%= application.url %></td>
        <td><%= application.creator %></td>
      </tr>
    <%end%>
  </table>
</div>
</body>
</html>

<script>

</script>