<div class="content-wrapper" style="margin-top:0px;">
  <div class="cnt-head">
    <h1>Applications</h1>
    <%if current_user.is_super_admin? || current_user.is_organization_admin?%>
      <label id="new-application"><span><img src="/assets/plus-icon.png" width="16" height="16" alt="plus" /></span>Add Application</label>
    <%end%>
  </div>
  <% @organizations.each do |organization|%>
    <% if current_user.is_super_admin? %>
    <div class="apl-main">
      <div class="apl-head show-app" organization-id="<%= organization.id%>">
        <label><img src="/assets/apl-head-icon2.png" width="12" height="12" alt="plus" id="image_icon"/></label>
          <%= organization.domain.split('.')[0].upcase %>
      </div>
    </div>
<!--       <div class="org-app-bar show-app" organization-id="<%= organization.id%>">
        <h1><span><img src="/assets/plus-icon.png" width="16" height="16" alt="plus" id="image_icon"/></span><span><%= organization.domain.split('.')[0].upcase %></span></h1>
      </div> -->
      <div class="application-detail-<%=organization.id%>" style="display: none;">
    <%end%>
        <table class="tbl-1 alternate-color" id="alternatecolor" width="100%" border="0" cellspacing="0" cellpadding="0" style="float:left;">
          <tr>
            <th align="left" valign="middle">Name</th>
            <th align="left" valign="middle">Created By</th>
            <th align="middle" valign="middle" colspan="3">Actions</th>
          </tr>
          <% organization.applications.each do |application| %>
            <tr>
              <td><%= link_to_if(action_active(application,'view'),application.name,{ controller: "applications", action: "show", id: application} , {class: 'view-link' }) %></td>
              <td><%= application.creator.full_name || application.creator.email %></td>
              <td align="center" width="40px">
                <%= link_to image_tag("edit.png", :border => 0), { controller: "applications", action: "edit", id: application}, {class: 'edit-link',title: "Edit",rel: 'tooltip',relative: true } if action_active(application,'edit')%>
              </td>
              <td align="center" width="40px">
                <%= link_to image_tag("assign.png", :border => 0), { controller: "roles_users", action: "index", id: application}, {class: 'assign_role_user',title: "Assign",rel: 'tooltip',relative: true } if action_active(application,'assign_role')%>
              </td>
              <td align="center" width="40px">
                <%= link_to image_tag("delete.png", :border => 0), application, {:method => :delete, title: "Delete",rel: "tooltip",relative: true, :data => { :confirm => 'Are you sure?'}} if action_active(application) %>
              </td>
            </tr>
          <%end%>
        </table>
    <% if current_user.is_super_admin? %>
      </div>
    <%end%>
    <br \>
  <%end%>
</div>
  <script type="text/javascript">
    function submitApplication() {
      elem.fileupload('send', {files: filesList, paramName: paramNames});
      cordys_bpm_validations();
      if( filesList.length == 0 )
        elem.submit();
      // $(this).dialog("close");

    };

    $("#new-application").on("click", function (e) {
      e.preventDefault();
      var tag = $("<div id=\"dialog-form\"></div>"),
        url = 'applications/new';
      $.ajax({
        url: url,
        success: function(data) {
          tag.html(data).dialog({
            modal: true,
            height: $(window).height()-50,
            width: $(window).width()-600,
            open: function (event, ui) {
              $('.ui-widget-overlay').addClass('override');
            },
            title: 'Create new Application',
            beforeClose: function(event, ui) {
              window.location.reload();
            },
            buttons: [
              {
                text: "Save Application",
                "class": 'btn-style',
                click: submitApplication
              },
              {
                text: "Cancel",
                "class": 'btn-style-2',
                click: function() {
                  $(this).dialog("close")
                }
              }
            ]
          }).
          dialog('open');
        }
      });
    });

    $(".view-link").on("click", function (e){
        e.preventDefault();
        var tag = $("<div></div>"),
          url = $(this).attr('href');
        $.ajax({
          url: url,
          success: function(data) {
            tag.html(data).dialog({modal: true,
              height: $(window).height()-50,
              width: $(window).width()-600,
              open: function (event, ui) {
                $('.ui-widget-overlay').addClass('override');
              },
              title: 'Application Details',
              buttons: [
                {
                  text: "Cancel",
                  "class": 'btn-style-2',
                  click: function() {
                    $(this).dialog("close")
                  }
                },
              ]
            }).
            dialog('open');
          }
        });
    });

    $(".edit-link").on("click", function (e){
        e.preventDefault();
        var tag = $("<div></div>"),
          url = $(this).attr('href');
        $.ajax({
          url: url,
          success: function(data) {
            tag.html(data).dialog({modal: true,
              height:$(window).height()-50,
              width: $(window).width()-600,
              open: function (event, ui) {
                $('.ui-widget-overlay').addClass('override');
              },
              title: 'Edit Application',
              open: function (event, ui) {
               $('.ui-widget-overlay').addClass('override');
              },
              beforeClose: function(event, ui) {
               window.location.reload();
              },
              buttons: [
                {
                  text: "Save Application",
                  "class": 'btn-style',
                  click: submitApplication
                },
                {
                  text: "Cancel",
                  "class": 'btn-style-2',
                  click: function() {
                    $(this).dialog("close")
                  }
                }
              ]
            }).
            dialog('open');
          }
        });
    })

    $(document).on("click",".assign_role_user", function (e){
      e.preventDefault();
      var tag = $("<div></div>"),
        url = $(this).attr('href');
      $.ajax({
        url: url,
        success: function(data) {
          tag.html(data).dialog({modal: true,
            height: 'auto',
            width: 'auto',
            maxHeight: 500,
            maxWidth: 1012,
            title: 'Assign User Roles',
            open: function (event, ui) {
              $('.ui-widget-overlay').addClass('override');
            },
            beforeClose: function(event, ui) { 
              window.location.reload();
            },
            buttons: [
              {
                text: "Assign",
                "class": 'btn-style',
                "disabled": "disabled",
                "id": "submit",
                click: submitRole
              },
              {
                text: "Cancel",
                "class": 'btn-style-2',
                click: function() {
                  $(this).dialog("close")
                },
              }
            ]
          }).
          dialog('open');
        }
      });
    });

    function submitRole(){
      assign_roles()
    }

   $(document).on("click", '.show-app', function(e) {
    var organizationId = $(this).attr('organization-id')
    var finalDivId = ".application-detail-"+organizationId
    $(this).parent('div').parent().find(finalDivId).toggle();
    var plus = $(this).find('#image_icon').attr('src');
    if (plus == "/assets/apl-head-icon2.png")
    {
      $(this).find('#image_icon').removeAttr('src')
      $(this).find('#image_icon').attr('src','/assets/apl-head-icon1.png')
    }
    else 
    {
      $(this).find('#image_icon').removeAttr('src')
      $(this).find('#image_icon').attr('src','/assets/apl-head-icon2.png')
    }
   });

    function cordys_bpm_validations(){
      $("#application-creation").validate({
        rules: {
          "application[application_details_attributes][0][value]":{
               url: true
          }
         },
         messages: {
           "application[name]":{
              required: "Enter Name",
              minlength: "Min Length is 3 characters"
           },
           "application[email]":{
              required: "Enter Email",
           },
           "application[application_type_id]":{
              required: "Please select anyone application type",
           },
           "application[application_details_attributes][0][value]":{
              required: "Enter Url"
           },
           "application[application_details_attributes][1][value]":{
              required: "Enter username of Cordys Bpm"
           },
           "application[application_details_attributes][2][value]":{
              required: "Enter password of Cordys Bpm"
           },
           "application[application_details_attributes][3][value]":{
              required: "Enter cordys home"
           },
           "application[application_details_attributes][4][value]":{
              required: "Enter cordys organization name"
           },
           "application[application_details_attributes][5][value]":{
              required: "Enter work space name"
           },
           "application[application_details_attributes][6][value]":{
              required: "Enter cordys project name"
           }
         },
         errorPlacement: function(error,element){
           error.insertAfter(element);
           error.css('color','red');
         }
     });
    };
  </script>

