<div class="content-wrapper">
  <div class="cnt-head">
    <h1>Applications</h1>
    <label id="new-application"><span><img src="/assets/plus-icon.png" width="16" height="16" alt="plus" /></span>Add Application</label>
  </div>
  <table class="tbl-1" id="alternatecolor" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <th align="left" valign="middle">Sl No.</th>
      <th align="left" valign="middle">Name</th>
      <th align="left" valign="middle">URL</th>
      <th align="left" valign="middle">Creator</th>
      <%if current_user.is_admin? %>
      <th align="left" valign="middle">Actions</th>
      <%end%>
    </tr>
    <% count = 0 %>
    <% @applications.each do |application| %>
      <tr>
        <td><%= count += 1 %></td>
        <td><%= link_to application.name,application_path(application.id) %></td>
        <td><%= application.url %></td>
        <td><%= application.creator.full_name || application.creator.email %></td>
        <td>
          <%- editable = (current_user.is_admin? || current_user.is_organization_admin? || current_user.is_admin_of(application)) %>

          <%= link_to_if(editable, 'Edit', { controller: "applications", action: "edit", id: application}, {class: 'edit-link' })%>
          <%= link_to 'Delete', application, :method => :delete, :data => { :confirm => 'Are you sure?' } if current_user.is_admin? %>
          <%= link_to 'Assign', { controller: "roles_users", action: "index", id: application}, {class: 'assign_role_user' }%></td>
      </tr>
    <%end%>
  </table>
</div>
  <script type="text/javascript">
    function submitForm() {
      elem.fileupload('send', {files: filesList, paramName: paramNames});
      if( filesList.length == 0 )
        elem.submit();
      $(this).dialog("close");
    }

    $("#new-application").on("click", function (e) {
      e.preventDefault();
      var tag = $("<div id=\"dialog-form\"></div>"),
        url = 'applications/new';
      $.ajax({
        url: url,
        success: function(data) {
          tag.html(data).dialog({
            modal: true,
            height: 800,
            width: 1200,
            title: 'Create new Application',
            buttons: [
              {
                text: "Cancel",
                "class": 'btn-style-2',
                click: function() {
                  $(this).dialog("close")
                }
              },
              {
                text: "Save Application",
                "class": 'btn-style',
                click: submitForm
              }
            ]
          }).
          dialog('open');
        }
      });
    });

    $(".edit-link").on("click", function (e){
      e.preventDefault();
      var tag = $("<div></div>"),
        url = $(this).attr('href');
      $.ajax({
        url: url,
        success: function(data) {
          tag.html(data).dialog({modal: true,
            height: 800,
            width: 1200,
            title: 'Edit Application',
            buttons: [
              {
                text: "Cancel",
                "class": 'btn-style-2',
                click: function() {
                  $(this).dialog("close")
                }
              },
              {
                text: "Save Application",
                "class": 'btn-style',
                click: submitForm
              }
            ]
          }).
          dialog('open');
        }
      });
    })

    $(".assign_role_user").on("click", function (e){
      e.preventDefault();
      var tag = $("<div></div>"),
        url = $(this).attr('href');
      $.ajax({
        url: url,
        success: function(data) {
          tag.html(data).dialog({modal: true,
            height: 800,
            width: 1200,
            closeOnEscape: false,
            title: 'Assign User Roles',
            buttons: [
              {
                text: "Cancel",
                "class": 'btn-style-2',
                click: function() {
                  $(this).dialog("close")
                  window.location.reload();
                }
              }
            ]
          }).
          dialog('open');
        }
      });
    })
  </script>

