<div id="dialog-form" title="Add Application">
  <%= render partial: 'form' ,locals: {application: @application}%>
</div>
<div class="content-wrapper">
  <div class="cnt-head">
    <h1>Applications</h1>
    <label id="new-application"><span><img src="/assets/plus-icon.png" width="16" height="16" alt="plus" /></span>Add Application</label>
  </div>
  <table class="tbl-1" id="alternatecolor" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <th align="left" valign="middle">Sl No.</th>
      <th align="left" valign="middle">Name</th>
      <th align="left" valign="middle">URL</th>
      <th align="left" valign="middle">Creator</th>
      <%if current_user.is_admin? %>
      <th align="left" valign="middle">Action</th>
      <%end%>
    </tr>
    <% count = 0 %>
    <% @applications.each do |application| %>
      <tr>
        <td><%= count += 1 %></td>
        <td><%= link_to application.name,application_path(application.id) %></td>
        <td><%= application.url %></td>
        <td><%= application.creator.full_name || application.creator.email %></td>
        <%if current_user.is_admin? %>
          <td><%= link_to 'Delete', @application, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <%end%>
  </table>
</div>
  <script type="text/javascript">
    var dialog,form;
    function submitForm() {
      dialog.find("form").submit();
      dialog.dialog( "close" );
    }

    function clearForm(){
      $("#dialog-form").html("<%= escape_javascript(render partial: 'form' ,locals: {application: @application})%>");
    }

    dialog = $( "#dialog-form" ).dialog({
      autoOpen: false,
      height: 800,
      width: 1200,
      modal: true,
      buttons: [
        {
            text: "Cancel",
            "class": 'btn-style-2',
            click: function() {
                dialog.dialog( "close" );
            }
        },
        {
            text: "Save Application",
            "class": 'btn-style',
            click: submitForm
        }
      ],
      close: clearForm
    });
    $("#new-application").on("click", function() {
      dialog.dialog( "open" );
    });
  </script>

