<p id="notice"><%= notice %></p>
<table class="tbl-4 alternate-color" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th colspan="4">Application Information</th>
  </tr>
  <tr>
    <td align="right" class="head"><b>Application Name</b></td>
    <td ><%= @application.name %></td>
    <td  align="right" class="head" ><b> Point of Contact </b></td>
    <td ><%= @application.point_of_contact %></td>
  </tr>
  <tr>
    <td align="right" class="head"><b> URL </b></td>
    <td><%= @application.url %></td>
    <td align="right" class="head"><b> Email </b></td>
    <td><%= @application.email %></td>
  </tr>
  <tr>
    <td align="right" class="head"><b> Description </b></td>
    <td rowspan="2" valign="top"><%= @application.description %></td>
    <td align="right" class="head"><b> Preferred Time </b></td>
    <td><%= @application.prefered_contact_time.strftime("%H:%M %p") %></td>
  </tr></table>

  <table class="tbl-4" width="100%" border="0" cellspacing="0" cellpadding="0">
  <% unless @application.attachments.blank? %>
    <tr>
      <th colspan="4">Application Attachments</th>
    </tr>
    <tr>
      <td>
        <table class="tbl-4" width="100%" border="0" cellspacing="0" cellpadding="0">
          <%@application.attachments.each do |attachment|%>
          <tr>
          <td width="15px"><a href="<%= attachment.file_path_url%>" download><%= image_tag("download.png", :border => 0)%></td>
            <td><a href="<%= attachment.file_path_url%>" download><%= attachment.file_path.file.filename%></a></td></tr>
          <%end%></table></td>
    </tr>
  <%end%>
  </table>
  <table class="tbl-4" width="100%" border="0" cellspacing="0" cellpadding="0">
  <% unless @application.attachments.blank? %>
    <tr>
      <th colspan="4">Login Information</th>
    </tr>
    <%@application.credentials.each do |credential|%>
      <tr style="background:#f5f5f5">
        <td><label><b>Role : </b> </label><%= credential.role %></td>
        <td ><label><b>UserName : </b> </label><%= credential.username %></td>
        <td ><label><b>Password : </b> </label><%= credential.password %></td>
      </tr>
     
        <tr>
          <td>
           <table class="tbl-4" width="100%" border="0" cellspacing="0" cellpadding="0">
            <%unless credential.attachments.empty?%>
             <tr>
              <%credential.attachments.each do |attachment|%>
                <td width="15px"><a href="<%= attachment.file_path_url%>" download><%= image_tag("download.png", :border => 0)%></td>
                <td><a href="<%= attachment.file_path_url%>" download><%= attachment.file_path.file.filename%></a></td>
                </tr><%end%>
            </table>
          </td>
        </tr>
          
      <%end%>
      
    <%end%>
  <%end%>
</table>
