<table width="648" border="0" cellspacing="0" cellpadding="0" class="ura-left-cnt-tbl">
  <% users.each do |u|%>
    <tr>
      <td align="center" width="35" height="30">
        <input name="user" type="checkbox" id="<%= u.id%>" class="users" value="<%= u.id%>"/>
      </td>
      <td width="175"><%= u.email %></td>
      <% roles = u.find_roles(application.id)%>
      <% roles.each do |role|%>
        <td class="role">
          <label><%= role.name %>
          <%#= link_to image_tag("close-icon.png", width: 14, height: 14, alt: "delete"), { action: 'destroy',controller: "roles_users"}, :confirm => 'Are you sure?', :method => :delete,locals: {roleid: role.id,userid: u.id} %>
          <span class="remove-role "roleid="<%= role.id%>" userid="<%= u.id%>"><img src="/assets/close-icon.png" width="14" height="14" alt="delete" /></span></label>
        </td>
        <%end%>
        <td><%= hidden_field 'application','id',value: application.id %></td>
    </tr>
  <%end%>
</table>