<div class="ura-main">
  <div class="ura-left">
    <div class="ura-left-head">
      <div class="ura-left-head-box1"><%= check_box_tag "all_users", 'all_users' %></div>
      <div class="ura-left-head-box2">Users</div>
      <div class="ura-left-head-box3">Roles</div>
    </div>
    <div id="mapped_users_roles" class="ura-left-cnt">
    <%= render partial: 'roles_users' ,locals: {application: @application, users: @users}%>
    </div>
  </div>
  <div class="ura-right ura-right-disable" id="role_cnt">
    <div class="ura-right-head">
      <%= check_box_tag "all_roles", 'all_roles'%> Roles
    </div>
    <div class="ura-right-cnt">
      <% @roles.each do |role|%>
        <label>
          <span>
          <input name="role" type="checkbox" id="<%= role.id%>" class="roles" value="<%= role.id%>"/>
          </span>
          <%= role.name%>
        </label>
      <%end%>
    </div>
      <!-- <button align="center" type="button" disabled="disabled" onclick="assign_roles()" id="submit">Assign</button> -->
  </div>
</div>
<script>
  var applicationId = $("#application_id").val()
  function assign_roles(){
    var valueSelector = function() { return this.value; };
    var userChecked = $("input:checkbox[name=user]:checked").map(valueSelector).get();
    var roleChecked = $("input:checkbox[name=role]:checked").map(valueSelector).get();
    $.ajax('/applications/' + applicationId + '/roles_users/create', {
      type: 'POST',
      data: {users: userChecked,roles: roleChecked},
      datatype: 'json',
      success: function(data, textStatus, jqHXR) {
        unCheckAll();
      }
    });
  }

  function unCheckAll(){
    $('.users').each(function() {
        this.checked = false;
      });
    $('.roles').each(function() {
        this.checked = false;
      });
    disableRole()
  }

  $("#all_users").on('click',function(){
    if(this.checked) {
      $('.users').each(function() {
        this.checked = true;
      });
      enableRole()
    }
    else {
      $('.users').each(function() {
        this.checked = false;
      });
      disableRole()
    }
    assignButtonAction()
  })

  $(document).on('click',"#all_roles",function(){
    if(this.checked) {
      $('.roles').each(function() {
        this.checked = true;
      });
    }
    else {
      $('.roles').each(function() {
        this.checked = false;
      });
    }
    assignButtonAction();
  })

  // added for roles enable/disable
  $(document).on("click", '.users', function(e) {
    var valueSelector = function() { return this.value; };
    var userChecked = $("input:checkbox[name=user]:checked").map(valueSelector).get();
    if(userChecked.length <= 0){
      disableRole()
    }
    else{
      enableRole()
    }
    assignButtonAction();
  })

  function enableRole(){
    $("#role_cnt").removeClass("ura-right-disable")
  }

  function disableRole(){
    $("#role_cnt").addClass("ura-right-disable")
    assignButtonAction() //after all users are disabled then submit also disabled
  }

  $(document).on("click", '.roles', function(e) {
    assignButtonAction()
  })

  function assignButtonAction(){
    var valueSelector = function() { return this.value; };
    var roleChecked = $("input:checkbox[name=role]:checked").map(valueSelector).get();
    var userChecked = $("input:checkbox[name=user]:checked").map(valueSelector).get();
    if(roleChecked.length > 0 && userChecked.length > 0){
      // $("#submit").attr('disabled',false);
      $("#submit").prop('disabled', false).button('refresh')
    }
    else{
      // $("#submit").attr('disabled',true);
      $("#submit").prop('disabled', true).button('refresh')
    }
  }

  $(document).on("click", '.remove-role', function(e) {
    roleId = $(this).attr('roleid')
    userId = $(this).attr('userid')
    e.preventDefault();
    if(confirm("Are you sure?")){
      $.ajax('/applications/' + applicationId + '/roles_users/destroy', {
        type: 'DELETE',
        datatype: 'json',
        data: {user: userId,role: roleId},
        success: function(data, textStatus, jqHXR) {
        }
      });
    }
  });

</script>
