<%= form_for(resource, as: resource_name, url: registration_path(resource_name),remote: true, html: { method: :put }) do |f| %>
  <%- unless f.object.errors.empty? %>
    <div class='ui-state-highlight'>
      <%-f.object.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
    </div>
  <% end %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  <table border="0" cellspacing="7" cellpadding="0" align="left" width="600px">
    <tr>
      <td align="left" ><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br /></td>
      <td align="left"><%= f.password_field :password, autocomplete: "off", class:'inpt-1' %></td>
    </tr>

    <tr>
      <td ><%= f.label :password_confirmation %><br /></td>
      <td><%= f.password_field :password_confirmation, autocomplete: "off", class:'inpt-1' %></td>
    </tr>

    <tr>
      <td ><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br /></td>
      <td><%= f.password_field :current_password, autocomplete: "off", class:'inpt-1' %></td>
    </tr>
 
  </table>
<% end %>

