<%= form_for(resource, as: resource_name, url: registration_path(resource_name), remote: true) do |f| %>

  <%- unless f.object.errors.empty? %>
    <div class='ui-state-highlight'>
       <%-f.object.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
       <% end %>
    </div>
  <% end %>
    <table border="0" cellspacing="7" cellpadding="0" align="left" width="900px">
      <tr>
        <td align="right">Email<span class='required'>*</span></td>
        <td><%= f.email_field :email, autofocus: true , class:'inpt-1' %></td>

        <%= f.fields_for :organization do |of|%>
          <td  align="right">Organization Name</td>
          <td ><%= of.text_field :name, autocomplete: "off", class:'inpt-1' %></td>
        <%-end %>
      </tr>
      <tr>
        <td  align="right">Password<span class='required'>*</span></td>
        <td> <% if @validatable %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "off", class:'inpt-1'%></td>
          <td align="right"> Password Confirmation<span class='required'>*</span></td>
         <td><%= f.password_field :password_confirmation, autocomplete: "off" , class:'inpt-1'%></td> 
      </tr>
      <%= f.fields_for :profile, (resource.profile || resource.build_profile) do |profile|%>
        <tr>
          <td  align="right">First Name</td>
          <td><%= profile.text_field :first_name, autocomplete: "off", class:'inpt-1'%></td>
          <td  align="right">Last Name</td>
          <td> <%= profile.text_field :last_name, autocomplete: "off", class:'inpt-1'%></td>
        </tr>
        <tr>
          <td  align="right">How do you hear about us?</td>
          <td><%= profile.text_field :referred_by, autocomplete: "off", class:'inpt-1'%></td>
          <td  align="right">How can we help you?</td>
          <td> <%= profile.text_area :inquiry, autocomplete: "off", class:'inpt-1'%></td>
        </tr>
        <tr>
          <td  align="right">Mobile Number</td>
          <td> <%= profile.text_field :mobile_number, autocomplete: "off", class:'inpt-1'%></td>
          <td  align="right">Telephone Number</td>
          <td> <%= profile.text_field :telephone_number, autocomplete: "off", class:'inpt-1'%></td>
        </tr>
        <tr>
          <td  align="right">Gender</td>
          <td><%= profile.select :gender, options_for_select(['Male','Female']), autocomplete: "off", class:'inpt-1'%></td>
          <td></td>
          <td></td>
        </tr>
      <%-end %>
      <tr>
        <td  align="right">Captcha</td>
        <td colspan="3"> <%= f.simple_captcha  class:'inpt-1'%></td>
      </tr>
    </table>
<% end %>
