<div class="content-wrapper" style="margin-top:0px;">
  <div class="cnt-head">
    <h1>Roles</h1>
    <label id="delete_role"><span><img src="/assets/button_minus_red.png" width="16" height="16" alt="plus" /></span>Delete Role</label>
    <label id="new_role"><span><img src="/assets/plus-icon.png" width="16" height="16" alt="plus" /></span>New Role</label>
  </div>

  <table class="tbl-1 alternate-color" cellpadding="0px" cellspacing="0px">
    <thead>
      <tr>
        <th align="left" width="20px;"><%= check_box_tag "all_roles", 'all_roles' %></th>
        <th align="left" width="250px;">Name</th>
        <th align="left">Description</th>
      </tr>
    </thead>

    <tbody>
      <% @roles.each do |role| %>
        <tr>
          <td align="left">
            <%unless role.super_admin_org_admin(current_user)%>
              <input name="role" type="checkbox" id="<%= role.id%>" class="roles" value="<%= role.id%>"/>
            <%end%>
          </td>
          <td align="left"><%= link_to role.name,edit_role_path(role), class: "edit_role" %></td>
          <td align="left"><%= role.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script type="text/javascript">

 function submitForm() {
    $(this).find("form").submit();
  }

 $("#new_role").on("click", function (e) {
    e.preventDefault();
    var tag = $("<div id=\"role_form\"></div>"),
      url = 'roles/new';
    $.ajax({
      url: url,
      success: function(data) {
        tag.html(data).dialog({
          modal: true,
          height: 600,
          width: 950,
          title: 'Create Role',
          open: function (event, ui) {
            $('.ui-widget-overlay').addClass('override');
          },
          buttons: [
            {
              text: "Save",
              "class": 'btn-style',
              click: submitForm
            },
            {
              text: "Cancel",
              "class": 'btn-style-2',
              click: function() {
                $(this).dialog("close")
              }
            }
          ]
        }).
        dialog('open');
      }
    });
  });

 $(".edit_role").on("click", function (e){
      e.preventDefault();
      var tag = $("<div id=\"role_form\"></div>"),
        url = $(this).attr('href');
      $.ajax({
        url: url,
        success: function(data) {
          tag.html(data).dialog({modal: true,
            height: 600,
            width: 950,
            title: 'Edit Role',
            open: function (event, ui) {
              $('.ui-widget-overlay').addClass('override');
            },
            buttons: [
              {
                text: "Save Role",
                "class": 'btn-style',
                click: submitForm
              },
              {
                text: "Cancel",
                "class": 'btn-style-2',
                click: function() {
                  $(this).dialog("close")
                }
              }
            ]
          }).
          dialog('open');
        }
      });
    });

  $('#all_roles').click(function() {
    if (this.checked) {
      $('.roles').each(function() {
        this.checked = true;
      });
    } else {
      $('.roles').each(function() {
        this.checked = false;
      });
    }

  });

  $('#delete_role').on("click", function(e) {
    var valueSelector = function() { return this.value; };
    var roleIds = $("input:checkbox[class=roles]:checked").map(valueSelector).get();
    if(roleIds == ''){
      alert("Please select atleast one role");
      return false;
    }
    e.preventDefault();
    if(confirm("Are you sure?Corresponding users and permissions data will delete.")){
      $.ajax('/roles/destory_all', {
        type: 'POST',
        datatype: 'json',
        data: {role_id: roleIds},
        success: function(data, textStatus, jqHXR) {
           $(window.location.reload("/roles"))
        }
      });
    }
  });
</script>