<%= form_for [:admin, @user], :remote => true do |f| -%>
  <%- unless f.object.errors.empty? %>
    <div class='ui-state-highlight'>
      <%-f.object.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
    </div>
  <% end %>
  <table border="0" cellspacing="7" cellpadding="0" align="center" width="400px">
    <tr>
      <td><%= f.label :email %></td>
      <td><%= f.text_field :email, class:'inpt-1' %></td>
    </tr>
    <%if current_user.is_super_admin? %>
        <tr>
         <td><%= f.label :organization %>
            <% selected = f.object.organization.blank? ? nil : f.object.organization.id%>
         </td>
         <td><%= f.collection_select :organization_id,Organization.all,:id ,:name,{selected: selected ,prompt: 'Please Select Organization'}%></td>
        </tr>
      <% end %>
    <%- f.object.profile || f.object.build_profile %>
    <%= f.fields_for :profile do |profile|%>
      <tr>
        <td><%= profile.label :first_name %></td>
        <td><%= profile.text_field :first_name, class:'inpt-1' %></td>
      </tr>
      <tr>
        <td><%= profile.label :last_name %></td>
        <td><%= profile.text_field :last_name, class:'inpt-1' %></td>
      </tr>

      <tr>
        <td><%= profile.label :mobile_number %></td>
        <td><%= profile.text_field :mobile_number, class:'inpt-1' %></td>
      </tr>
      <tr>
        <td><%= f.check_box :is_organization_admin %></td>
        <td><%= "Organization Admin" %></td>
      </tr>
    <% end %>
  </table>
<% end -%>
